<div ng-controller="DaemonsCtrl">
    <h3>{{ title }}</h3><br/>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-block btn-primary" href="/daemons/add">Add Daemon</a>
        </div>
    </div>
    <br/>
    <div class="callout callout-warning" ng-if="daemons.length == 0">
        No Daemons have been added yet!
    </div>
    <div class="box box-primary" ng-if="daemons.length > 0">
        <div class="box-body table-responsive no-padding">
            <table class="table">
                <tr>
                    <th style="width: 10%; min-width: 150px;">Name</th>
                    <th style="width: 15%; min-width: 150px;">IP:Port</th>
                    <th style="width: 15%; min-width: 180px;">Management</th>
                    <th style="width: 10%; min-width: 140px;">Server Running</th>
                    <th style="width: 10%; min-width: 140px;">Player Online</th>
                    <th style="min-width: 220px;">
                        <div class="col-md-6">
                            Status
                        </div>
                    </th>
                </tr>
                <tr ng-repeat="daemon in daemons"  ng-class="{ 'bg-info': daemon.status == 'Pending', 'bg-success': daemon.status == 'Online', 'bg-warning': daemon.status == 'Standby', 'bg-danger': daemon.status == 'Offline' }">
                    <td><a ng-href="/daemons/edit/{{ daemon.id }}">{{ daemon.name }}</a></td>
                    <td>{{ daemon.ip }}:{{ daemon.port }}</td>
                    <td class="btn-group btn-block">
                        <a href="#" class="btn btn-flat" ng-class="{ 'btn-info': daemon.status == 'Pending', 'btn-success': daemon.status == 'Online', 'btn-warning': daemon.status == 'Standby', 'btn-danger': daemon.status == 'Offline' }" ng-if="daemon.status == 'Standby'"><i class="fa fa-play"></i></a>
                        <a href="#" class="btn btn-flat" ng-class="{ 'btn-info': daemon.status == 'Pending', 'btn-success': daemon.status == 'Online', 'btn-warning': daemon.status == 'Standby', 'btn-danger': daemon.status == 'Offline' }" ng-if="daemon.status == 'Online'"><i class="fa fa-pause"></i></a>
                        <a href="#" class="btn btn-flat" ng-class="{ 'btn-info': daemon.status == 'Pending', 'btn-success': daemon.status == 'Online', 'btn-warning': daemon.status == 'Standby', 'btn-danger': daemon.status == 'Offline' }" ng-if="daemon.status == 'Online' || daemon.status == 'Standby'"><i class="fa fa-power-off"></i></a>
                        <a href="#" class="btn btn-flat" ng-class="{ 'btn-info': daemon.status == 'Pending', 'btn-success': daemon.status == 'Online', 'btn-warning': daemon.status == 'Standby', 'btn-danger': daemon.status == 'Offline' }"><i class="fa fa-key fa-rotate-180"></i></a>
                        <a href="#" class="btn btn-flat" ng-class="{ 'btn-info': daemon.status == 'Pending', 'btn-success': daemon.status == 'Online', 'btn-warning': daemon.status == 'Standby', 'btn-danger': daemon.status == 'Offline' }"><i class="fa fa-trash"></i></a>
                    </td>
                    <td>{{ daemon.server }} Server</td>
                    <td>{{ daemon.player }} Player</td>
                    <td>
                        <div class="col-md-6" ng-if="daemon.status == 'Online'">
                            CPU ({{ daemon.cpu }}%)
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar" ng-class="{ 'progress-bar-danger': daemon.cpu > 80, 'progress-bar-warning': (daemon.cpu <= 80 && daemon.cpu > 50), 'progress-bar-success': daemon.cpu <= 50 }" ng-style="{ 'width': daemon.cpu + '%' }"></div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="daemon.status == 'Online'">
                            RAM ({{ daemon.ram }}%)
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar" ng-class="{ 'progress-bar-danger': daemon.ram > 80, 'progress-bar-warning': (daemon.ram <= 80 && daemon.ram > 50), 'progress-bar-success': daemon.ram <= 50 }" ng-style="{ 'width': daemon.ram + '%' }"></div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="daemon.status != 'Online'">
                            {{ daemon.status }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-block btn-primary" href="/daemons/add">Add Daemon</a>
        </div>
    </div>
</div>