<div ng-controller="PluginsCtrl">
    <h3>{{ title }}</h3><br/>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-block btn-primary" href="/plugins/add">Add Plugin</a>
        </div>
    </div><br/>
    <div class="callout callout-warning" ng-if="plugins.length == 0">
        No Plugins have been uploaded yet!
    </div>
    <div class="box box-primary" ng-if="plugins.lenght > 0">
        <div class="box-body table-responsive no-padding" >
            <table class="table table-hover">
                <tr>
                    <th style="width: 20%; min-width: 150px;">Name</th>
                    <th style="width: 20%; min-width: 150px;">Management</th>
                    <th style="width: 10%; min-width: 150px;">Version</th>
                    <th style="min-width: 200px;">Authors</th>
                </tr>
                <tr>
                    <td>AutoRestart</td>
                    <td class="btn-group btn-block">
                        <a href="#" class="btn btn-success btn-flat"><i class="fa fa-download"></i></a>
                        <a href="#" class="btn btn-success btn-flat"><i class="fa fa-upload"></i></a>
                    </td>
                    <td>2.10.0</td>
                    <td>
                        ServersMC, DennisLysenko
                    </td>
                </tr>
                <tr>
                    <td>WorldEdit</td>
                    <td class="btn-group btn-block">
                        <a href="#" class="btn btn-primary btn-flat"><i class="fa fa-download"></i></a>
                        <a href="#" class="btn btn-primary btn-flat"><i class="fa fa-trash"></i></a>
                    </td>
                    <td>1.13.7</td>
                    <td>
                        unknown
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-block btn-primary" href="/plugins/add">Add Plugin</a>
        </div>
    </div>
</div>